.container-news {
  display: grid;
  grid-template-columns: repeat(3, 28%);
  width: 50%;
  position: relative;
  left: 12%;
  justify-content: space-between;
  align-self: start;

}
.container-news__news {
  display: flex;
  flex-direction: column;
  align-items: center;

  .news__title {
    font-family: Georgia, Times, "Times New Roman", serif;
    margin-bottom: 0.7em;
    font-size: 1.3em;
    font-weight: bold;
    align-self: center;
  }
  .news__text {
    font-size: 1em;
    color: grey;
    margin-bottom: 0.7em;
  }
}

.news__image {
  height: 8em;
  width: 100%;
}

.news__read-more {
  font-size: 0.8em;
  align-self: end;
  margin: 0.5em;
  cursor: pointer;
  background: rgb(156, 156, 196);
  color: white;
  padding: 0.3em;
  border-radius: 10px;
}
