.container-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  align-self: flex-start;
  padding-top: 2em;
}

.container-media {
  display: flex;
  flex-direction: column;
  &__select {
    margin: 1em 0;
    font-weight: bold;
  }
  &__video {
    width: 100%;
    height: 10em;
  }
  &__list {
    text-align: start;

    &__song {
      padding: 0.5em 0;
      color: grey;
      font-family: sans-serif;
      &:hover {
        background-color: rgba(117, 111, 111, 0.397);
        cursor: pointer;
      }
    }
  }
}

.icon-video {
  margin-right: 1em;
  cursor: pointer;
}
